#halo {
color: rgb(42, 233, 3);
margin-top: -1px;


}

*{
    background-color: black;
    margin:0rem;
    padding: 0rem;
    box-sizing: border-box;
    font-family: monospace;
}
header{
    width: 100%;
    
}
.header span{
 color: red;
}
.header h3{
    color: lime;
    margin-left: 15rem;
}
.hai{
    display: flex;
    margin-left: 45rem;
    justify-content: space-around;
    
}
a{
    color: lime;
    text-decoration: none;
}
a:hover{
    color: red;
}
.main h1{
    color:linen;
}
.main p{
    color:lime;
}
.span1{
    color: red;
}
.span{
    color: blue;
}
.welcome{
    width: 0ch;
    overflow: hidden;
    white-space: nowrap;
    animation: text 6s;
}
@keyframes text{
    0%{
        width: 0ch;

    }
    50%{
        width: 5ch;
    }
}
.btn{
    color: lime;
    background-color: rgb(0, 0, 0);
    margin-left: 48rem;
    margin-top: 10rem;
    
}
.btn:hover{
    color: red;
}
.copyright{
    color: lime;
   margin-top: 5rem;
    margin-left: 40rem;
}