<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HACK WITH ETHICS</title>
  <link rel="stylesheet" href={{ url_for('static',filename = 'ji.css') }} >
</head>
<body>
  <div>
  <header class="header">
    <h1 id="halo">HACK WITH <span>ETHICS</span></h1>
      <h3>-Hack To Learn</h3>
      <ul class="hai">
        <a href="hackwithethics.html"><h2>HOME</h2></a>
        <a href="aim.html"><h2>AIM</h2></a>
        <a href="https://t.me/joinchat/fDBd3lWz5T05Ymjl"><h2>JOIN NOW</h2></a>
        <a href="#"><h2>CONTACT</h2></a>
      </ul>
      <hr>
  </header>
</div>
<main class="main">
  <br>
<h1>WELCOME TO HACK WITH ETHICS</h1>
<br>
<p ><span class="span1">root</span><span class="span">@localhost~$</span> Halo friends welcome to our community
 we teaching you about ethical hacking and other techonology like this. <br>lets start </p>
<br>
<p ><span class="span1">root</span><span class="span">@localhost~$</span> every techonology lover want to Learn ethical hacking. but they no money to study "EH" <br>so we started this community for them </p>
<br>
<p ><span class="span1">root</span><span class="span">@localhost~$</span> make the chance to start your Learning from basic </p>
<br>
<p ><span class="span1">root</span><span class="span">@localhost~$</span> HACK WITH ETHICS </p>
<br>
<br>
<br>
<br>
<button class="btn" type="button">JOIN NOW</button>
<h3 class="copyright">©opyright:-hackwithethics 2020-2021</h3>
</main>
</body>
</html>
